services:
  mysql-test:
    image: mysql:8.0
    container_name: batis_test_mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: test
    tmpfs:
      - /var/lib/mysql
  postgresql-test:
    image: postgres:16
    container_name: batis_test_postgresql
    environment:
      POSTGRES_USER: batis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test
      PGDATA: /var/lib/postgresql/data/pgdata
    tmpfs:
      - /var/lib/postgresql/data
      - /var/log
